@import './variabels.scss';

@mixin onTablet {
    @media (min-width: $tablet-min-width) {
      @content;
    }
  }
  
  @mixin onDesktop {
    @media (min-width: $desktop-min-width) {
      @content;
    }
  }

  @mixin contentPaddingInline() {
    box-sizing: border-box;
    padding-inline: 40px;
    width: 100%;
  
    @include onTablet {
      padding-inline: 40px;
    }
  
    @include onDesktop {
      max-width: 1020px;
      margin-inline: auto;
      padding-inline: 80px;
    }
  }

  @mixin pageGrid {
    --columns: 1;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    margin-block: 20px;
  
    @include onTablet {
      --columns: 2;
      column-gap: 40px;
    }
  
    @include onDesktop {
      --columns: 3;
    }
  }