$tablet-min-width: 576px;
$desktop-min-width: 992px;

$effectDuration: 0.3s;

$extraDarkColor: #004A43;
$darkColor: #009688;
$midDarkColor: #35a79c;
$midColor: #54b2a9;
$midLightColor: #65c3ba;
$lightColor: #83d0c9